$app-bck:rgba(0, 30, 40, .62);

@font-face {
  font-family: 'arame';
  src: url('resources/fonts/arame.otf');
}

body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

canvas {
  height: 100vh;
  position: fixed;
  width: 100vw;
}

#app {
  background: $app-bck;
  bottom: 0;
  height: 62vw;
  left: 0;
  margin: auto;
  max-height: 100vh;
  max-width: 162vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
}