$app-bck: rgba(0, 30, 40, .62);
$title-color: #06c;

@function convert() {

  @return 0;
}

@font-face {
  font-family: 'arame';
  src: url('resources/fonts/arame.otf');
}

@font-face {
  font-family: 'neon';
  src: url('resources/fonts/neon.otf');
}

body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

canvas {
  height: 100vh;
  position: fixed;
  width: 100vw;
}

.app {
  background: $app-bck;
  //border-collapse: collapse;
  bottom: 0;
  display: flex;
  height: 62vw;
  left: 0;
  margin: auto;
  max-height: 100vh;
  max-width: 162vh;
  overflow: hidden;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
}

#frame {
  bottom: -9999px;
  height: 110%;
  left: -9999px;
  margin: auto;
  position: absolute;
  right: -9999px;
  top: -9999px;
  width: 110%;
  z-index: 0;
}

#title {
  color: $title-color;
  font-family: neon, serif;
  font-size: 5rem;
  padding: 0;
  text-align: center;
  user-select: none;
  width: 100%;
}

.table {
  bottom: -9999px;
  height: 97%;
  left: -9999px;
  margin: auto;
  position: absolute;
  right: -9999px;
  top: -9999px;
  width: 97%;
  z-index: 1;
}

table {
  color: white;
  height: 100%;
  width: 100%;
}

.spacer {
  border-bottom: 2px solid red;
  border-top: 2px solid red;
  height: 10%;
}

.bar {
  border-right: 2px solid goldenrod;
  height: 75%;
  width: 10%;
}

#score {
  height: 75%;
  width: 90%;
}

#leads, #pads, #bass {
  border-bottom: 2px solid goldenrod;
}

button {
  background: none;
  border-style: none;
  color: white;
  float: right;
  font-family: neon, serif;
  font-size: 162%;
  height: 100%;
  width: 11%;
}

thead {
  height: 35%;
}

tbody {
  height: 65%;
}
