$app-bck: rgba(0, 30, 40, .62);
$title-color: #06c;

@function convert() {

  @return 0;
}

@font-face {
  font-family: 'arame';
  src: url('resources/fonts/arame.otf');
}

@font-face {
  font-family: 'neon';
  src: url('resources/fonts/neon.otf');
}

body {
  height: 100vh;
  margin: 0;
  width: 100vw;
}

canvas {
  height: 100vh;
  position: fixed;
  width: 100vw;
}

#app {
  background: $app-bck;
  border-collapse: collapse;
  bottom: 0;
  height: 62vw;
  left: 0;
  margin: auto;
  max-height: 100vh;
  max-width: 162vh;
  position: absolute;
  right: 0;
  top: 0;
  width: 100vw;
}

#title {
  color: $title-color;
  font-family: neon, serif;
  font-size: 5rem;
  height: 10%;
  text-align: center;
  user-select: none;
  width: 100%;
}

td,
th {
  border: 3px solid red;
}
